SUPABASE_URL=https://zjnfvkxpelfhonjkpjjs.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpqbmZ2a3hwZWxmaG9uamtwampzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE2Nzk1MzcsImV4cCI6MjA5NzI1NTUzN30.d-eIsnZsia8TxDOZkyR49kvc4RNduitxokqY7sGZkh8
ZAPI_INSTANCE_ID=3F4C831E6E8E81DA5DBB0252E275B4B9
ZAPI_TOKEN=26396436E187EFA01AA401C6
ZAPI_CLIENT_TOKEN=CF605A3F3D659578F8C50F34